circle:hover {
    fill: red;
    cursor: pointer;
}

.x-axis-label {
    position: absolute;
    font-size: 16px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.y-axis-label {
    position: absolute;
    font-size: 16px;
    transform: rotate(-90deg);
    top: 40%;
}

